/* TAG STYLES */
html {
  background-color: black;
  color: aqua;
}
table,
td,
th {
  color: rebeccapurple;
  border-style: solid;
  border-color: deepskyblue;
  background-color: white;
}
footer {
  text-align: right;
}

/* ID STYLES */
#title {
  font-style: italic;
  color: rebeccapurple;
  background-color: rgb(149, 149, 204);
  border-style: solid;
  border-color: beige;
  border-radius: 12pt;
  text-align: center;
}
#vestibulum {
  color: brown;
}

/* CLASS STYLES */

.authorName {
  font-variant: small-caps;
}

.delete {
  background-color: crimson;
  border-style: solid;
  border-color: blue;
  border-radius: 3pt;
}

.add {
  background-color: chartreuse;
  border-style: solid;
  border-radius: 5pt;
}

.button {
  padding-left: 0.3em;
  padding-right: 0.3em;
  cursor: pointer;
}

.color:hover {
  text-decoration: underline;
}

.pointer-hover {
  cursor: pointer;
}
